name: ci

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - ci

jobs:
  build-ubuntu:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      - name: Build
        run: |
          echo ${GITHUB_TOKEN} | docker login -u ${GITHUB_ACTOR} --password-stdin docker.pkg.github.com
          docker pull 'docker.pkg.github.com/kbeckmann/ubuntubuilder/ubuntubuilder-arm'
          docker tag docker.pkg.github.com/kbeckmann/ubuntubuilder/ubuntubuilder-arm:latest ubuntubuilder-arm
          # This line below now specifically targets the Zelda hardware
          docker run --rm -v $(pwd):/build -w /build ubuntubuilder-arm sudo -E GNW_TARGET=zelda ./scripts/.ci_build_ubuntu.sh
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          
      - name: Upload Firmware
        uses: actions/upload-artifact@v4
        with:
          name: zelda-firmware
          path: build/retro-go.bin
